* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#library {
    background-color: #333;
    border: 4px red solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.book {
    border: 2px blue solid;
    min-height: 260px;
    background-color: white;
}