* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    height: 144px;
    background-color: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 112px 40px goldenrod;
    z-index: 1;
    gap: 6px;
}

header #add-book {
    border: none;
    background-color: #CC9;
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 100px;

}

#library {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 24px;
    padding: 24px;
    overflow-y: scroll;
    height: calc(100vh - 144px);
}

.book {
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #FFE;
    border-radius: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    padding: 0px 12px 24px 12px;
    border-left: 8px #CC9 solid;
}

.book .bottom-info {
    display: flex;
    justify-content: space-around;
    color: gray;
    margin-top: 24px;
    font-size: 0.8rem;
}

.book .title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 6px;
}

.book .author {
    font-style: italic;
    font-size: 1.2rem;
}

.dialog-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
}

dialog:open {
    margin: auto;
    padding: 36px;
    border-radius: 18px;
    border: none;
    /* box-shadow: 0px 0px 2px 2px black; */
}

form {
    display: grid;
    gap: 16px 0px;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
}

#button-row {
    grid-column: 2 / 3;
    padding-top: 12px;
    justify-self: end;
}

#button-row button {
    border: none;
    background-color: #CC9;
    color: white;
    border-radius: 100px;
    font-size: 1.1rem;
    padding: 6px 12px;
    margin-left: 12px;
}

dialog #book-title {
}